<%= form_with(model: passlost, local: true) do |form| %>
  <% if passlost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(passlost.errors.count, "error") %> prohibited this passlost from being saved:</h2>

      <ul>
      <% passlost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
<tr>
  
   <td ><h4>T-R Separation</h4></td>
   <td><%= form.text_field :trSeparation, id: :passlost_trSeparation ,:class => "form-control"%></td>
   <td>Km</td>
  
</tr>
  <tr>
  
   <td><h4>Carrier Frequency</h4></td>
    <td><%= form.number_field :carrierFrequency, id: :passlost_carrierFrequency ,:class => "form-control"%></td>
    <td>MHz</td>
  </tr>
  <tr>

   <td><h4>TX Antenna Height</h4></td>
   <td> <%= form.number_field :txAntennaHeight, id: :passlost_txAntennaHeight ,:class => "form-control"%> </td>
   <td>Meters</td>
</tr>
  <tr>

    <td><h4>RX Antenna Height</h4></td>
    <td><%= form.number_field :rxAntennaHeight, id: :passlost_rxAntennaHeight ,:class => "form-control"%> </td>
    <td>Meters</td>
</tr>
<tr>
 <td><h4>Save?</h4></td>
  <td>
    <%= form.submit %>
  </td>

  </tr>
<% end %>
</table>