<p id="notice"><%= notice %></p>

<h1>Passlosts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Trseparation</th>
      <th>Carrierfrequency</th>
      <th>Txantennaheight</th>
      <th>Rxantennaheight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passlosts.each do |passlost| %>
      <tr>
        <td><%= passlost.trSeparation %></td>
        <td><%= passlost.carrierFrequency %></td>
        <td><%= passlost.txAntennaHeight %></td>
        <td><%= passlost.rxAntennaHeight %></td>
        <td><%= link_to 'Show', passlost , :class => "btn btn-info"%></td>
        <td><%= link_to 'Edit', edit_passlost_path(passlost) ,:class => "btn btn-warning"%></td>
        <td><%= link_to 'Destroy', passlost, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Passlost', new_passlost_path %>
