<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<%= javascript_include_tag "https://www.google.com/jsapi" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>T-R Separation:</strong>
  <%= @passlost.trSeparation %> Km
</p>

<p>
  <strong>Carrier Frequency:</strong>
  <%= @passlost.carrierFrequency %> MHz
</p>

<p>
  <strong>TX Antenna Height:</strong>
  <%= @passlost.txAntennaHeight %> Meters
</p>

<p>
  <strong>RX Antenna Height:</strong>
  <%= @passlost.rxAntennaHeight %> Meters
</p>


<%= link_to 'Edit', edit_passlost_path(@passlost) ,:class => "btn btn-warning"%> |
<%= link_to 'Back', passlosts_path ,:class => "btn btn-success"%>
<script>
    Chartkick.options = {
        colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
            '#55BF3B', '#DF5353', '#7798BF', '#aaeeee']};

</script>







































<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 <script type="text/javascript">
   
     $(function() {
  $(window).scroll(function() {
    if($(this).scrollTop() != 0) 
    {
      $('#toTop').fadeIn();
    } 
    else {
      $('#toTop').fadeOut();
      }
  });
   
  $('#toTop').click(function() {
    $('body,html').animate({scrollTop:0},800);
  });
});

 </script>

<DIV ID = "toTop" > <p>
  <strong>T-R Separation:</strong>
  <%= @passlost.trSeparation %> Km
</p>

<p>
  <strong>Carrier Frequency:</strong>
  <%= @passlost.carrierFrequency %> MHz
</p>

<p>
  <strong>TX Antenna Height:</strong>
  <%= @passlost.txAntennaHeight %> Meters
</p>

<p>
  <strong>RX Antenna Height:</strong>
  <%= @passlost.rxAntennaHeight %> Meters
</p>
 </ DIV >
