<!DOCTYPE html>
<html>
  <head>
    <title>Testapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
<% if user_signed_in? %>
			  <ul class="items_menu">
			  	<li><%= link_to "Homepage" , root_path%></li>
			  	<li><%= link_to "Lab 1" , passlosts_path%></li>
			  	<li></li>
			  	<li></li>
			  	<li></li>
			  	<li></li>
			  	<li></li>
			  	<li></li>
			  </ul>
			<%else%>
			  <ul id="main_menu">
			  	<li><%= link_to "Join"%>
			  		<ul class="subitems_menu">
			  			<li><%= link_to "Create Profile" , new_user_registration_path %></li>
			  			<li><%= link_to "Login" , new_user_session_path %></li>
			  		</ul>
			  	</li>
			  	<li>
			  		<li><%= link_to "Homepage" , root_path %></li>
			  	</li>
			  	<li></li>
			  	<li></li>
			  	<li></li>
			  	<li></li>
			  </ul>
		  	<%end%>
  	</header>



<button class="btn btn-danger">1</button>




  <body>
    	 <div id="main_content" class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>

			<div id="content" class="col-md-9 center-block">
				<%= yield %>
			</div>
		</div>
  </body>
</html>
