<!DOCTYPE html>
<html>
  <head>
    <title>Testapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
<% if user_signed_in? %>
			  <ul class="items_menu">
			  	<li><%= link_to "Homepage" , root_path%></li>
			  	<li><%= link_to "Lab 1" , passlosts_path%></li>
			  	<li></li>
			  	<li></li>
			  	<li></li>
			  	<li></li>
			  	<li></li>
			  	<li></li>
			  </ul>
			<%else%>
			  <ul id="main_menu">
			  	<li><%= link_to "Join"%>
			  		<ul class="subitems_menu">
			  			<li><%= link_to "Create Profile" , new_user_registration_path %></li>
			  			<li><%= link_to "Login" , new_user_session_path %></li>
			  		</ul>
			  	</li>
			  	<li>
			  		<li><%= link_to "Homepage" , root_path %></li>
			  	</li>
			  	<li></li>
			  	<li></li>
			  	<li></li>
			  	<li></li>
			  </ul>
		  	<%end%>
  	</header>








  <body>
    <%= yield %>
  </body>
</html>
